header
  @include background(linear-gradient(-45deg, #754B7C, #28216F))
  height: $HEADER-HEIGHT
  color: $content-white

  .logo
    padding-top: 30px
    font-size: 32px
    font-weight: 600

    span.light
      font-weight: 300
