<!DOCTYPE html>
<html>
<head>
  <title>FinanceApp</title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700,300,600,400' rel='stylesheet' type='text/css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/chartist/0.7.3/chartist.min.css' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main"></div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
